{% extends 'base.html' %}

{% block content %}
<h1>Acerca de Mí</h1>
<p>Mi nombre es Santiago Machado, este es mi primer curso de programacion Python, una buena experiencia donde tengo ganas de seguir creciendo.
Soy de Uruguay, tengo 29 años, trabajo en una empresa de tecnologia de venta de productos tangibles, y soy estudiante de comercio exterior en factuldad.
Hincha del mas grande del pais y del mundo, el Club Nacional de Futbol. Agradecido de sumar esta experiencia en mi vida, voy por mas.
</p>
{% endblock %}
